<div class="col-md-12 masteries">
  <a class="btn btn-default" href="#">
    <i class="glyphicon glyphicon-plus"></i>
    New
  </a>

  <div>
    <select class="form-control">
      <option value="champion1">udyr</option>
      <option value="champion2">adc</option>
     <option value="champion3">support</option>
      <option value="champion4">mid</option>
   </select>
  </div>

<div class="summary">
  <p>18 12 0</p>
  <p>18 0 12</p>
  <p>description pending...</p>
  <p>description pending...</p>    
</div>  

</div>