<div class="col-md-12 runes">
  <a class="btn btn-default" href="#">
    <i class="glyphicon glyphicon-plus"></i>
    New
  </a>

  <div>
    <select class="form-control btn-block">
      <option value="champion1">Volvo</option>
      <option value="champion2">Saab</option>
     <option value="champion3">Mercedes</option>
      <option value="champion4">Audi</option>
   </select>
  </div>

<div class="summary">
  <p>description pending...</p>
  <p>description pending...</p>
  <p>description pending...</p>
  <p>description pending...</p>    
</div>  

</div>